h1{
    color:orange
    background-color: slategray;
    font-size: 20px;
    text-decoration: underline;
    font-family: arial
    text-align: center;
}
p{
    color: slategrey;
    text-align: right;
    line-height: 30px;
    letter-spacing: 3px;
    column-count: 3;
    column-gap: 60px;
}
ul{
    /* border-width: 4px;
    border-style: solid;
    border-color: crimson; */
    /*border: 4px solid crimson;*/
    border-bottom: 4px solid crimson;
    border-left: 8px dashed rgb(133, 19, 122);
}
li{
    list-style-type: none;
  /*text-shadow: 2px 2px lightgray;*/
  text-shadow: 2px 2px #E9E9E9;
  
  

}



